#logo {
  width: 35rem;
  height: 15rem;
}
.video-detail {
  position: relative;
  bottom: 9rem;
}
.video-list {
  position: relative;
  bottom: 9rem;
}

.search {
  width: 50%;
}

@media only screen and (max-width: 500px) {
  .video-items {
    flex-direction: column;
    position: relative;
    margin-top: 40%;
  }
  #logo {
    width: 100%;
  }
  .search {
    width: 100%;
  }
}
